@import "tailwindcss";

/* Custom theme configuration */
@theme {
  --font-family-display: "Cal Sans", "Lexend", sans-serif;
  
  /* Custom colors */
  --color-primary: oklch(59.96% 0.24 276.91);
  --color-secondary: oklch(73.46% 0.185 183.61);
  
  /* Custom spacing */
  --spacing-18: 4.5rem;
  --spacing-72: 18rem;
}

/* Custom utilities nếu cần */
@utility hover-scale {
  transform: scale(1.05);
  transition: transform 0.2s;
}